.Section3{
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    margin-left:5rem ;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 25px;
    text-align: justify;
    margin-right: 10rem;
}

.comp{
    padding-bottom: 1rem;
}

.comp1{
    padding-bottom: 1rem;
}





@media screen and (max-width: 768px) { 
    .Section3{
        margin-left:0.5rem;
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        margin-right: 0rem;
    }
    
    .Section4 {
        text-align: start;
        font-size: 25px;
    }

    .Section5 .comp1{
        margin-left: 0.5rem;
        font-size:20px;
    }
}