.navbar {
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.social a:link{
  color: #0067A5;
  text-decoration: none;
}
.social{
  display: flex;
  padding: 1rem 0rem;
  font-size: 1.5rem;
}
.social a{
  margin: 0rem 1rem 0rem 0rem;
  height: 40px;
  width: 40px;
  background: #fefafa;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.3s;
}
.social a:hover{
  background: #0067A5;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  transition: 0.3s;
}

.fab:hover{
  color:white;
}

.logo {
  justify-self: start;
  margin-left: 20px;
  margin-top: -3px;
  cursor: pointer;
  width: 19rem;
  height: 7rem;
  mix-blend-mode: multiply;
}

.fa-firstdraft {
  .navbar {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  .navbar-logo {
    color: #000000;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }

  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }

  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }

  .nav-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
  }

  .nav-links:hover {
    color: white;
    background-color: #0067A5;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }

  .fa-bars {
    color: #000000;
  }

  .nav-links-mobile {
    display: none;
  }

  .menu-icon {
    display: none;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  width: 700%;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #0067A5;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #000000;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


@media screen and (max-width: 768px){

  .navbar{
    width: 430px;
    overflow-x: hidden;
  }

  .navbar-logo{
    position: start;
    left: 2px;
  }

  .logo{
    width:140px;
    height:90px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 4px;
    width: 100%;
    justify-content:start;
    margin-right:5px;
  }
  .social1, .fa-brands, .fab {
    font-size: 15px;
  }

}